# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Coverage directories
coverage

# Bundles
build

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development
.env.test
.env.production
